html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
select {
  appearance: none;
}

select::-ms-expand {
  display: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
